.App {
  text-align: center;
}

.Navbar {
  background-color: #131921;
  display: flex;
}

.ColButton {
  display: grid;
}

.SearchBarNavAll {
  display: flex;
  margin: 10px 4px 10px 3px;
  height: 60px;
  width: auto;
  flex: 1 1 auto;
  display: flex;
  position: static;
  float: none;
}

.AllSearchBar {
  background-color: #f3f3f3;
  box-shadow: none;
}

.SearchBarNav {
  background-color: white;
  color: #111;
  display: flex;
  position: static;
  float: none;
  width: 100%;
  line-height: 15px;
  margin: 7px 10px 10px 0;
  border: 0;
  height: 38px;
  font-family: inherit;
  font-size: 15px;
  outline: 0;
  box-shadow: none;
  text-indent: 8px;
  direction: ltr;
}


.App-link {
  color: #61dafb;
}