.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;

}

.rowLocation {
  display: flex;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}



.Logo {
  height: 50px;
  display: flex;

}


.Navbar {
  background-color: #131921;
  display: flex;
  justify-content: center;
  padding: 0px 10px 0px 10px;
  align-items: center;
}

.ColButton {
  display: grid;
}

.SearchBarNavAll {
  display: flex;
  justify-content: center;
  margin: 10px 4px 10px 3px;
  height: 50px;

  flex: 1 1 auto;


  border-radius: 10px;
}


.SearchBarNavBtn {
  background-color: #131921;
  border: none;
  color: white;
  padding: 12px;
}



.dropdown-container {
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.AllSearchBar {
  justify-content: center;
  box-shadow: none;
  padding: 10px 4px 10px 3px;

}

.InputLNav {
  background-color: #f3f3f3;
  height: 40px;
  margin: 0;
  padding-left: 5px;
  overflow: hidden;
  border: 1px solid #cdcdcd;
}

.SearchBarNav {
  background-color: white;
  color: #111;
  width: 100%;
  line-height: 15px;



  padding: 0px 10px 10px 0px;
  border: 0;
  height: 38px;
  font-family: inherit;
  font-size: 15px;
  outline: 0;
  box-shadow: none;
  text-indent: 8px;

}

.btnBold {
  font-weight: 700;
}

/* BottomNav */
.rowbottomNav {
  display: flex;
  flex-direction: row;

}


.AllIconBtn {
  width: 10px;
  font-size: small;
  margin-right: 5px;

}

.AllBtnBottomNav {
  display: flex;

  align-items: center;
  background-color: #232f3e;
  border: none;
  color: white;
  padding: 5px 18px 5px 18px;
}


.BtnBottomNav {
  background-color: #232f3e;
  color: white;
  border: none;

  padding: 10px 11px 10px 11px;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;

}


.App-link {
  color: #61dafb;
}